// Imports -------------------------------------------------------------------

@import "susy";

// Grid ----------------------------------------------------------------------
$total-cols             : 4;
$col-width              : 4em;
$gutter-width           : 1em;
$side-gutter-width      : $gutter-width;

$show-grid-backgrounds  : true;
