// Imports -------------------------------------------------------------------

@import "base";
@import "helpers";

$base-bg: #f1f2f1;
$bg: #f00;
$splash-bg: #224d8a;
$font-family: Cantarell, OpenSans, Sans-Serif;
$fsize: 12pt;
$font: 12pt/18pt $font-family;
$link: #3465a4;
$label: #888;
$headline: #555;
/* Layout ------------------------------------------------------------------*/

/*
.page {
  @include container;
  @include susy-grid-background;
}

h1 {
  @include span-columns(3);
}
*/

body {
  margin: 0;
  font: $font;
  background-color: $base-bg;
}

$total-columns: 3;

.splash {
  @include gradient-vertical(darken($splash-bg,10%),lighten($splash-bg, 10%));
  border-top: 3px solid darken($splash-bg,20%);
  border-bottom: 3px solid darken($splash-bg,20%);

  .featured {
    width: 90%;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    @include text-shadow(0,2px,1px,#000);
    .app {
      position: relative;
      display:inline-block;
      width: 32%;
      height: 2*$fsize;
      padding-top: 190px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: 20% 50%;
      background-size: 150%;
      cursor: pointer;
      .label {
        position: absolute;
        bottom: 20px; left: 20px;
        font-size: 120%;
      }
    }
  }
}

@each $app in firefox, gimp, xchat {
  ##{$app} {
    background-image: url('../images/featured-#{$app}.png');
  }
}

h1,h2,h3 {
  color: $headline;
}

h1 { fons-size: 140%; }
h2 { font-size: 130%; }
h3 { font-size: 120%; }

.container {
  // Portrait 3
  @include container;
  /* @include susy-grid-background; */
  
  h1,h2,h3 {
    @include span-columns(3);
  }
  
  .tile {
    position: relative;
    @include span-columns(1);
    padding: 0;
    &:nth-child(3n) {
      @include span-columns(1 omega);
    }
    img {
      display: block;
      padding: 0;
      margin: 0 auto;
      width: 100%;
      height: auto;
      max-width: 171px;
      cursor: pointer;
    }
    .label {
      display: block;
      font-size: 90%;
      text-align: center;
    }
    span {
      position: absolute;
      right: 0;
      top: 60%;
      @include box-sizing(border-box);
      font-size: 80%;
      color: #fff;
      background-color: lighten($link,20%);
      padding: 0.2em 1em;
      @include border-radius(3px);
      @include text-shadow(0,-1px,0,rgba(0,0,0,0.5));
    }
  }  
  ul.menu {
    @include span-columns(3 omega);
    li {
      cursor: pointer;
      @include span-columns(1);
      &:nth-child(3n) {
        @include span-columns(1 omega);
      }
      @include box-sizing(border-box);
      padding: .5em;
      @include border-radius(5px);
      border: 1px solid $base-bg;      
      margin-bottom: 6px;
      &:hover {
        border: 1px solid darken($base-bg,20%);
        @include gradient-vertical(lighten($base-bg,5%),darken($base-bg,5%));
        @include box-shadow(0,1px,0,#fff);
      }
      &:active {
        border: 1px solid darken($base-bg,30%);
        @include gradient-vertical(darken($base-bg,15%),darken($base-bg,5%));
      }
      a {
        display: block;
        color: $link;
        text-align: center;
      }
    }
  }
  // Create a media-query breakpoint at a min-width of 30em
  // 6 colum for landscape
  @include at-breakpoint(50em 6) { 
    // Establish our new 8-column container.
    @include container; 
    /* @include susy-grid-background; */

    .tile {
      @include span-columns(1);
      &:nth-child(3n) { @include span-columns(1); }
      &:last-child { @include span-columns(1 omega); }
    }  
      
    h1,h2,h3 {
      @include span-columns(6);
    }    
    ul.menu {
      @include span-columns(6 omega);
      li { 
        @include span-columns(2);

        &:nth-child(3n) {
          @include span-columns(2 omega);
        }
      }
    }
  }
}

.page {
  $total-columns: 12;
  $column-width: 3em;
  $gutter-width: 1em;
  @include container;
  /* @include susy-grid-background; */
  
  #header,#meta, #screenshots, #buttons {
    @include span-columns(12 omega);
    margin-bottom: 6px;
  }
  #header {
    .icon {
      @include span-columns(2);
      margin: 19px 0 19px;
    }
    .name {
      @include span-columns(8);
    }
    .rating {
      @include span-columns(2 omega);
      position: relative;
      img {
        display: block;
        position: absolute;
        top: 19px; right: 0;
      }
    }
  }
  #gallery {
    @include span-columns(12);
    img {
      @include box-sizing(border-box);
      width: 100%;
    }
    @include at-breakpoint(50em 12) {
      @include span-columns(10);
      img {
       @include box-sizing(border-box);
       width: 100%;
      }
    }
  }
  #thumbnails {
    @include span-columns(12 omega,12);
    
    a {
      @include box-sizing(border-box);
      @include span-columns(2,12);
      border: 2px solid transparent;
      cursor: pointer;
      &.selected {
        border: 2px solid $link;
      }    
      img {
        @include span-columns(2 omega,2);
        width: 100%;
      }
    }
    
    @include at-breakpoint(50em 12) {
      @include span-columns(2 omega, 12);
      a {
        @include span-columns(2 omega,2);
      }
    }
  }
  #meta dl {
    @include span-columns(6);
    font-size: 90%;
    &:last-child {
      @include span-columns(6 omega);
    }
    dt {
      @include box-sizing(border-box);
      display: inline-block;
      margin: 0 3% 0 0;
      width: 47.8%;
      text-align: right;
      color: $label;
      
    }
    dd {
      @include box-sizing(border-box);
      display: inline-block;
      margin: 0;
      width: 46%;
    }
  }
  #buttons button {
    @include span-columns(4);
    @include box-sizing(border-box);
    padding: .5em;
    @include border-radius(5px);
    border: 1px solid darken($base-bg,20%);
    @include gradient-vertical(lighten($base-bg,5%),darken($base-bg,5%));
    @include box-shadow(0,1px,0,#fff);
    margin-bottom: 4em;
    cursor: pointer;
    &:hover {
      border: 1px solid lighten($link,5%);
      @include gradient-vertical(lighten($base-bg,10%),darken($base-bg,5%));
    }
    &:active {
      border: 1px solid darken($base-bg,30%);
      @include gradient-vertical(darken($base-bg,15%),darken($base-bg,5%));
    }
    &:last-child {
      @include span-columns(4 omega);
    }
  }
}

