<!DOCTYPE html>
<html>
  <head>
    <title>New Software</title>
    <link href='stylesheets/screen.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class='container'>
      <h2>Featured</h2>
    </div>
    <div class='splash'>
      <div class='featured'>
        <div class='app' id='firefox'>
          <div class='label'>Firefox</div>
        </div>
        <div class='app' id='gimp'>
          <div class='label'>GNU Image Manipulation</div>
        </div>
        <div class='app' id='xchat'>
          <div class='label'>XChat</div>
        </div>
      </div>
    </div>
    <div class='container'>
      <h2>Popular</h2>
      <div class='tile'>
        <img alt='Transmission' src='images/transmission.png' />
        <div class='label'>Transmission</div>
        <span>Installed</span>
      </div>
      <div class='tile'>
        <img alt='Cheese' src='images/cheese.png' />
        <div class='label'>Cheese</div>
      </div>
      <div class='tile'>
        <img alt='Inkcape' src='images/inkscape.png' />
        <div class='label'>Inkscape</div>
        <span>Installed</span>
      </div>
      <div class='tile'>
        <img alt='Foobarnificator' src='images/foo.png' />
        <div class='label'>Foobarnificator</div>
      </div>
      <div class='tile'>
        <img alt='Sound Juicer' src='images/juicer.png' />
        <div class='label'>Sound Juicer</div>
        <span>Installed</span>
      </div>
      <div class='tile'>
        <img alt='Boxes' src='images/boxes.png' />
        <div class='label'>Boxes</div>
      </div>
    </div>
    <div class='container'>
      <h2>Categories</h2>
      <ul class='menu'>
        <li>
          <a href='#'>
            Social Networking
          </a>
        </li>
        <li>
          <a href='#'>
            Music
          </a>
        </li>
        <li>
          <a href='#'>
            Navigation
          </a>
        </li>
        <li>
          <a href='#'>
            News
          </a>
        </li>
        <li>
          <a href='#'>
            Games
          </a>
        </li>
        <li>
          <a href='#'>
            Productivity
          </a>
        </li>
        <li>
          <a href='#'>
            Utility
          </a>
        </li>
        <li>
          <a href='#'>
            Weather
          </a>
        </li>
        <li>
          <a href='#'>
            Photo &amp; Video
          </a>
        </li>
        <li>
          <a href='#'>
            Business &amp; Finance
          </a>
        </li>
        <li>
          <a href='#'>
            Lifestyle
          </a>
        </li>
        <li>
          <a href='#'>
            Entertainment
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
