/* Layout ------------------------------------------------------------------*/
/*
.page {
  @include container;
  @include susy-grid-background;
}

h1 {
  @include span-columns(3);
}
*/
/* line 25, ../sass/screen.scss */
body {
  margin: 0;
  font: 12pt/18pt Cantarell, OpenSans, Sans-Serif;
  background-color: #f1f2f1;
}

/* line 33, ../sass/screen.scss */
.splash {
  background-image: -moz-linear-gradient(top, #183661, #2c64b3);
  background-image: -webkit-linear-gradient(top, #183661, #2c64b3);
  background-image: -o-linear-gradient(top, #183661, #2c64b3);
  background-image: -ms-linear-gradient(top, #183661, #2c64b3);
  background-image: linear-gradient(top, #183661, #2c64b3);
  border-top: 3px solid #0e1f38;
  border-bottom: 3px solid #0e1f38;
}
/* line 38, ../sass/screen.scss */
.splash .featured {
  width: 90%;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  text-shadow: 0 2px 1px black;
  -moz-text-shadow: 0 2px 1px black;
  -webkit-text-shadow: 0 2px 1px black;
}
/* line 44, ../sass/screen.scss */
.splash .featured .app {
  position: relative;
  display: inline-block;
  width: 32%;
  height: 24pt;
  padding-top: 190px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-size: 150%;
  cursor: pointer;
}
/* line 55, ../sass/screen.scss */
.splash .featured .app .label {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 120%;
}

/* line 64, ../sass/screen.scss */
#firefox {
  background-image: url("../images/featured-firefox.png");
}

/* line 68, ../sass/screen.scss */
#gimp {
  background-image: url("../images/featured-gimp.png");
}

/* line 72, ../sass/screen.scss */
#xchat {
  background-image: url("../images/featured-xchat.png");
}

/* line 76, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 32em;
  _width: 32em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  /* @include susy-grid-background; */
}
/* line 38, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 81, ../sass/screen.scss */
.container h1, .container h2, .container h3 {
  width: 100%;
  float: left;
  margin-right: 3.125%;
  display: inline;
  font-size: 120%;
}
/* line 86, ../sass/screen.scss */
.container .tile {
  width: 31.25%;
  float: left;
  margin-right: 3.125%;
  display: inline;
  padding: 0;
}
/* line 89, ../sass/screen.scss */
.container .tile:nth-child(3n) {
  width: 31.25%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 92, ../sass/screen.scss */
.container .tile img {
  display: block;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 171px;
}
/* line 100, ../sass/screen.scss */
.container .tile .label {
  display: block;
  font-size: 90%;
  text-align: center;
}
/* line 106, ../sass/screen.scss */
.container ul.menu {
  width: 100%;
  float: left;
  margin-right: 3.125%;
  display: inline;
}
@media (min-width: 50em) {
  /* line 76, ../sass/screen.scss */
  .container {
    *zoom: 1;
    max-width: 65em;
    _width: 65em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    /* @include susy-grid-background; */
  }
  /* line 38, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 118, ../sass/screen.scss */
  .container .tile {
    width: 15.385%;
    float: left;
    margin-right: 1.538%;
    display: inline;
  }
  /* line 120, ../sass/screen.scss */
  .container .tile:nth-child(3n) {
    width: 15.385%;
    float: left;
    margin-right: 1.538%;
    display: inline;
  }
  /* line 121, ../sass/screen.scss */
  .container .tile:last-child {
    width: 15.385%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
  /* line 124, ../sass/screen.scss */
  .container h1, .container h2, .container h3 {
    width: 100%;
    float: left;
    margin-right: 1.538%;
    display: inline;
  }
  /* line 127, ../sass/screen.scss */
  .container ul.menu {
    width: 100%;
    float: left;
    margin-right: 1.538%;
    display: inline;
  }
}
