!!!5
%html
  %head
    %title Shotwell
    %link{"rel" => "stylesheet", "href" => "stylesheets/screen.css", "type" => "text/css"}
  %body
    .page
      .header
        %img.icon{"src"=>"images/shotwell.png", "alt"=>""}
        %h2 Shotwell
        %label Open source photo management for GNOME
        .rating
          %img{"src"=>"images/rating.png", "alt"=>""}
      .screenshots
      
