!!!5
%html
  %head
    %title Shotwell
    %link{"rel" => "stylesheet", "href" => "stylesheets/screen.css", "type" => "text/css"}
    %script{"type" => "text/javascript", "src" => "js/jquery.js"}
  %body
    .page
      #header
        %img.icon{"src"=>"images/shotwell.png", "alt"=>""}
        .name
          %h2 Shotwell
          %label Open source photo management for GNOME
        .rating
          %img{"src"=>"images/rating.png", "alt"=>""}
      #screenshots
      #meta
        %h3 Description
        %p Shotwell is a digital photo organizer that runs on Linux. It is the default photo manager in Ubuntu and Fedora.
        %p Shotwell 0.12 is here! Major new features include:    
        %ul
          %li Straighten photo feature
          %li Support for GTK+3
          %li Flickr login now uses OAuth authentication 
          %li Greater support for Android devices
          %li Saved searches can exclude all photos tagged with a given string
          %li Lots of bug fixes!
          
        %p You can download Shotwell in either source or binary form from our download page.



