<!DOCTYPE html>
<html>
  <head>
    <title>Shotwell</title>
    <link href='stylesheets/screen.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class='page'>
      <div class='header'>
        <img alt='' class='icon' src='images/shotwell.png' />
        <div class='name'>
          <h2>Shotwell</h2>
          <label>Open source photo management for GNOME</label>
        </div>
        <div class='rating'>
          <img alt='' src='images/rating.png' />
        </div>
      </div>
      <div class='screenshots'></div>
    </div>
  </body>
</html>
