!!!5
%html
  %head
    %title Test
    %link{"rel" => "stylesheet", "href" => "stylesheets/screen.css", "type" => "text/css"}
  %body
    .container
      %h2 Featured
    .splash
      .featured
        #firefox.app 
          .label Firefox
        #gimp.app 
          .label GNU Image Manipulation
        #xchat.app 
          .label XChat
    .container
      %h2 Popular
      .tile.installed
        %img{"alt"=>"Transmission", "src"=>"images/transmission.png"}
        .label Transmission
      .tile
        %img{"alt"=>"Cheese", "src"=>"images/cheese.png"}
        .label Cheese
      .tile.installed
        %img{"alt"=>"Inkcape", "src"=>"images/inkscape.png"}
        .label Inkscape
      .tile
        %img{"alt"=>"Foobarnificator", "src"=>"images/foo.png"}
        .label Foobarnificator
      .tile.installed
        %img{"alt"=>"Sound Juicer", "src"=>"images/juicer.png"}
        .label Sound Juicer
      .tile
        %img{"alt"=>"Boxes", "src"=>"images/boxes.png"}
        .label Boxes
    .container
      %h2 Categories
      %ul.menu
        %li
          %a Social Networking
        %li
          %a Music
        %li
          %a Photo &amp; Video
        %li
          %a Games
        %li
          %a Productivity
        %li
          %a Business &amp; Finance
        %li
          %a Navigation
        %li
          %a Utility
        %li
          %a Lifestyle
        %li
          %a News
        %li
          %a Weather
        %li
          %a Entertainment
