@define-color nautilus_cluebar_color #729fcf;

/****************
 * Applications *
 ****************/
ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    background-color: @chrome_bg_color;
    -EogScrollView-shadow-type: none;
}

/* gnome-terminal */
TerminalScreen {
    background-color: @theme_base_color;
    color: @theme_fg_color;
    -TerminalScreen-background-darkness: 0.95;
}

/* nautilus */
.nautilus-canvas-item {
    border-radius: 5;
}

.nautilus-desktop.nautilus-canvas-item {
    color: @theme_bg_color;
    text-shadow: 1 1 black;
}

.nautilus-desktop.nautilus-canvas-item:active {
    color: @theme_text_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusSearchBar.info,
NautilusQueryEditor.info {
    background-color: @nautilus_cluebar_color;
    border-color: darker (@nautilus_cluebar_color);

    border-radius: 0;
    border-width: 1 0;
    border-style: solid;
}

NautilusSearchBar .entry,
NautilusSearchBar .entry:focused {
    padding: 2;
    border-image: none;
    border-style: solid;
    border-width: 1;
    border-color: shade(@nautilus_cluebar_color, 0.8);

    -GtkEntry-inner-border: 3;
}

NautilusSearchBar .entry:focused {
    border-color: darker(@nautilus_cluebar_color);
    box-shadow: 1 1 inset alpha(@nautilus_cluebar_color, 0.4), -1 -1 inset alpha(@nautilus_cluebar_color, 0.4);
}

NautilusSearchBar .entry.image {
    color: @nautilus_cluebar_color;
}

.nautilus-cluebar-label {
    font: bold;
    color: @theme_base_color;
}

#nautilus-search-button *:active,
#nautilus-search-button *:active:prelight {
    color: darker (@nautilus_cluebar_color);
    text-shadow: 0 1 alpha(@theme_base_color, 0.5);
    icon-shadow: 0 1 alpha(@theme_base_color, 0.5);
}

NautilusShareBar {
    /* FIXME - can't set background color or padding here 
               looks like just `color` is working */

}

NautilusFloatingBar {

    background-color: @info_bg_color;
    border-color: darker(@info_bg_color);

    border-radius: 0;
    border-width: 1;
    border-style: solid;
}

NautilusFloatingBar .button {
    background-color: alpha (@theme_base_color, 0.0);
    background-image: none;

    border-style: none;
    border-image: none;

    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

NautilusWindow .sidebar .frame {
    border-width: 1 0 0 0;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.66);
    border-radius: 0;
}

NautilusWindow > GtkTable > .pane-separator {
    border-width: 1 1 0 0;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.66);
}
