@import "base";
@import "fonts";
@import "colors-dark";

body {
  color: #fff;
  background-color: #202020;
  font-family: Cantarell;
  margin: 0; padding: 0; border: 0;
}

#toolbar-main {
  position: absolute;
  top: 0; left: 0; right: 0; height:  20px;
  border: 0;
}
