/*
Syntax error: Invalid CSS after "...kground-image: ": expected expression (e.g. 1px, bold), was "@include gradie..."
        on line 36 of css/boxes.scss

31:   vertical-align: middle;
32:   z-index: 3;
33:   top: 0; left: 0; right: 0; height:  28px;
34:   border: 0;
35:   background-color: $main-toolbar_gradient_b;
36:   background-image: @include gradient-vertical($main-toolbar_gradient_a, $main-toolbar_gradient_b);
37:   @include box-shadow(0,2px,2px,rgba(0,0,0,0.3));
38:   text-align: center;
39:   
40:   #select { float: right; }
41:   #new_box { float: left; }

Backtrace:
css/boxes.scss:36
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:929:in `expected'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/script/lexer.rb:193:in `expected!'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/script/parser.rb:450:in `assert_expr'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/script/parser.rb:49:in `parse'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:822:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:822:in `sass_script'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:690:in `value!'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:667:in `declaration'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:427:in `declaration_or_ruleset'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:913:in `call'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:913:in `rethrow'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:437:in `declaration_or_ruleset'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:399:in `block_child'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:391:in `block_contents'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:380:in `block'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:374:in `ruleset'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:398:in `block_child'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:391:in `block_contents'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:59:in `stylesheet'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/scss/parser.rb:28:in `parse'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/engine.rb:327:in `_to_tree'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/engine.rb:300:in `_render'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/engine.rb:247:in `render'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/plugin/compiler.rb:339:in `update_stylesheet'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `each'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/plugin/compiler.rb:293:in `watch'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/vendor/fssm/lib/fssm/path.rb:73:in `call'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/vendor/fssm/lib/fssm/path.rb:73:in `run_callback'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/vendor/fssm/lib/fssm/path.rb:55:in `callback_action'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/vendor/fssm/lib/fssm/path.rb:35:in `update'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/vendor/fssm/lib/fssm/state/file.rb:19:in `refresh'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/vendor/fssm/lib/fssm/monitor.rb:26:in `run'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/vendor/fssm/lib/fssm.rb:20:in `monitor'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/plugin/compiler.rb:265:in `watch'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/exec.rb:421:in `watch_or_update'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/exec.rb:302:in `process_result'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.12/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...kground-image: \": expected expression (e.g. 1px, bold), was \"@include gradie...\"\A         on line 36 of css/boxes.scss\A \A 31:   vertical-align: middle;\A 32:   z-index: 3;\A 33:   top: 0; left: 0; right: 0; height:  28px;\A 34:   border: 0;\A 35:   background-color: $main-toolbar_gradient_b;\A 36:   background-image: @include gradient-vertical($main-toolbar_gradient_a, $main-toolbar_gradient_b);\A 37:   @include box-shadow(0,2px,2px,rgba(0,0,0,0.3));\A 38:   text-align: center;\A 39:   \A 40:   #select { float: right; }\A 41:   #new_box { float: left; }"; }
