@import "base";
@import "fonts";
@import "colors-dark";

body {
  color: #fff;
  background-color: #202020;
  font-family: Cantarell;
  margin: 0; padding: 0; border: 0;
}

fieldset {
  margin: 0;
  }

#toolbar-main {
  position: absolute;
  top: 0; left: 0; right: 0; height:  20px;
  border: 0;
  background-color: $toolbar_gradient_base;
  background-image: -moz-linear-gradient(top, lighten($toolbar_gradient_base,30%), $toolbar_gradient_base);
}
