@import "base";
@import "fonts";
@import "colors-dark";

body {
  color: $theme_fg_color;
  background-color: darken($theme_bg_color, 10%);
  font-family: Cantarell; font-size: 11pt;
  margin: 0; padding: 0; border: 0;
}

fieldset {
  margin: 0;
  }

button, .button, input[type="button"], input[type="submit"] {
  font-family: Cantarell; font-size: 11pt;
  background-color: $button_gradient_color_a;
  @include gradient-vertical($button_gradient_color_a, $button_gradient_color_b);
  color: $theme_fg_color;
  display: inline-block;
  border: 1px solid $borders;
  @include border-radius(3px);
  padding: 4px;
  margin: 2px;
  &:hover { @include gradient-vertical($button_hover_gradient_color_a, $button_hover_gradient_color_b);   }
  &:active { @include gradient-vertical($button_active_gradient_color_a, $button_active_gradient_color_b);  }
}

#toolbar-main {
  position: fixed;
  display: table-cell;
  vertical-align: middle;
  z-index: 3;
  top: 0; left: 0; right: 0; height:  28px;
  border: 0;
  background-color: $main-toolbar_gradient_b;
  @include gradient-vertical($main-toolbar_gradient_a, $main-toolbar_gradient_b);
  @include box-shadow(0,2px,2px,rgba(0,0,0,0.3));
  text-align: center;
  
  #select { float: right; }
  #new_box { float: left; }
}

#content {
  position: fixed;
  overflow-y: auto;
  top: 52px; bottom: 0; right: 0; left: 0;
}

.box-contain {
  position: relative;
  display: inline-block;
  font-size: 90%;
  text-align: center;
  max-width: 150px;
  overflow: hidden;
  vertical-align: top;
  .box {
    cursor: pointer;
    position: relative;
    display: block;
    width: 128px; height: 128px;
    background-color: $theme_bg_color;
    border: 1px solid lighten($theme_bg_color, 20%);
    margin: 12px;  padding: 0;
    @include box-shadow(0,2px,4px,rgba(0,0,0,0.4));
    }
    .label {
      whitespace: wrap;
    }
}
