$theme_base_color: #333333;
$theme_text_color: #eeeeec;
$theme_bg_color: #393f3f;
$theme_fg_color: $theme_text_color;
$theme_selected_bg_color: #3465a4;
$theme_selected_fg_color: $theme_text_color;

$placeholder_text_color: darken($theme_text_color, 60%);
$borders: #24282a;

$theme_unfocused_base_color: $theme_base_color;
$theme_unfocused_text_color: mix($theme_unfocused_base_color, $theme_text_color, 80%);
$theme_unfocused_fg_color: mix($theme_unfocused_base_color, $theme_text_color, 30%);
$theme_unfocused_bg_color: $theme_bg_color;
$theme_unfocused_selected_bg_color: darken ($theme_selected_bg_color, 10%); 
$theme_unfocused_selected_fg_color: $theme_selected_fg_color; 
$unfocused_button_background: $theme_unfocused_bg_color;
$unfocused_borders: mix($theme_unfocused_bg_color, $theme_text_color, 15%);
$unfocused_insensitive_borders_color: mix($theme_unfocused_bg_color, $unfocused_borders, 50%);
$insensitive_fg_color: #ff0000;
$insensitive_bg_color: #ff0000;
$unfocused_insensitive_fg_color: mix($insensitive_fg_color, $insensitive_bg_color, 30%);
$unfocused_insensitive_bg_color: $insensitive_bg_color;
$unfocused_dark_bg: mix($theme_unfocused_bg_color, $borders, 50%);

$menu_bg_color: #555753;
$menu_fg_color: $theme_text_color;

$menu_controls_color: #aaa8ac;

$menu_combobox_border: darken($theme_selected_bg_color, 10%);
$menu_separator: mix ($menu_fg_color, $menu_bg_color, 95%);

$theme_tooltip_bg_color: #000000;
$theme_tooltip_fg_color: #eeeeee;

$button_gradient_color_a: lighten($theme_bg_color, 15%);
$button_gradient_color_b: darken($theme_bg_color, 20%);


$button_active_text_shadow: black;
$button_text_shadow: black;
$primary_toolbar_button_text_shadow: rgba(0,0,0,0.1);

$button_active_gradient_color_a: darken($button_gradient_color_b, 30%);
$button_active_gradient_color_b: darken($button_gradient_color_a, 30%);

$button_hover_gradient_color_a: lighten($button_gradient_color_a, 10%);
$button_hover_gradient_color_b: lighten($button_gradient_color_b, 2%);

$button_raised_gradient_color_a: $button_gradient_color_a;
$button_raised_gradient_color_b: $button_gradient_color_b;
$button_raised_linked_shadow: rgba(0,0,0,0.14);

$button_raised_active_gradient_color_a: $button_raised_gradient_color_b;
$button_raised_active_gradient_color_b: $button_raised_gradient_color_a;

$insensitive_fg_color: #535555;
$insensitive_bg_color: mix($theme_bg_color, $theme_base_color, 60%);
$insensitive_border_color: #535555;

$inactive_frame_color: darken($theme_bg_color, 20%);

$notebook_active_tab_border: darken($theme_selected_bg_color, 50%);
$notebook_selected_tab_color: opacify($theme_selected_bg_color, 0.75);

$notebook_tab_gradient_a: darken($theme_bg_color, 20%);
$notebook_tab_gradient_b: darken($theme_bg_color, 25%);

$switch_trough_active_color: $theme_text_color;
$switch_trough_active_bg_a: darken($theme_selected_bg_color, 40%);
$switch_trough_active_bg_b: $theme_selected_bg_color;

$switch_slider_color: darken($theme_bg_color, 10%);
$switch_slider_active_border: darken($switch_trough_active_bg_a, 40%);
$switch_slider_insensitive_bg: $theme_bg_color;

$highlighted_border: $borders;
$internal_element_color: #595959;
$internal_element_prelight: #eeeeee;
$internal_element_insensitive: mix($internal_element_color, $theme_base_color, 65%);

$progressbar_background_a: lighten($theme_selected_bg_color, 15%);
$progressbar_background_b: darken($theme_selected_bg_color, 20%);
$progressbar_pattern: $progressbar_background_b;
$progressbar_border: $switch_slider_active_border;

$entry_text_color: #ffffff;
$entry_background_a: #2d2d2d;
$entry_background_b: #333333;
$entry_background_c: #343434;
$entry_background_d: #373737;

$frame_color: #707070;

$focused_entry_border: $theme_selected_bg_color;
$focused_entry_inset: opacify($theme_selected_bg_color, 0.50);

$main-toolbar_gradient_a: #525351;
$main-toolbar_gradient_b: #323331;

$toolbar_gradient_base: #252624;
$toolbar_gradient_step1: #323331;
$toolbar_gradient_step2: #444642;
$toolbar_gradient_final: #51534f;

$toolbar_active_button_color: #222222;
$toolbar_border_top: #2e3436;
$toolbar_border_bottom: #5e605b;

$primary_toolbar_entry_bg: #ffffff;
$primary_toolbar_entry_fg: #2e3436;

$expander_row_selected_color: opacify($theme_base_color, 0.60);

$inset_light_color: opacify(white, 0.05);
$inset_dark_color: opacify(black, 0.15);

$keyboard_focus_border_a: opacify($theme_fg_color, 0.30);
$keyboard_focus_border_b: opacify($theme_fg_color, 0.10);

$sidebar_bg_color: lighten($theme_bg_color, 2%);

$trough_bg_color_a: #30312f;
$trough_bg_color_b: #41433f;

$scrollbar_trough_color: #414141;

$treeview_focus_border: shade ($theme_selected_bg_color, 1.20);

$scale_fill: darken($insensitive_border_color, 10%);
$scale_border_a: darken($internal_element_color, 10%);
$scale_border_b: darken($internal_element_color, 35%);

/* FIXME: needs dark colors from here */
$link_color: #4a90d9;
$warning_color: #f57900;
$error_color: #cc0000;
$success_color: #4e9a06;

$info_fg_color: rgb (181, 171, 156);
$info_bg_color: rgb (252, 252, 189);
$warning_fg_color: rgb (173, 120, 41);
$warning_bg_color: rgb (250, 173, 61);
$question_fg_color: rgb (97, 122, 214);
$question_bg_color: rgb (138, 173, 212);
$error_fg_color: rgb (166, 38, 38);
$error_bg_color: rgb (237, 54, 54);

$os_chrome_bg_color: black;
$os_chrome_fg_color: #ccc;
$os_chrome_selected_bg_color: #333;
$os_chrome_selected_fg_color: white;

$chrome_bg_color: #1e1a17;
$chrome_fg_color: #fff;

$scale_progress_fill: #2c85e2;
$scale_progress_border: #1864b2;
$scale_progress_border_b: #3e90e5;

$wm_highlight: lighten($theme_bg_color, 40%);
$wm_title_highlight: #111111;

$wm_bg_a: lighten($theme_bg_color, 30%);
$wm_bg_b: $theme_bg_color;

$wm_button_bg_a: $theme_bg_color;
$wm_button_bg_b: darken($theme_bg_color, 15%);
$wm_button_bg_c: darken($theme_bg_color, 20%);
$wm_button_bg_d: darken($theme_bg_color, 10%);

$wm_button_bg_hover_a: lighten($wm_button_bg_a, 20%);
$wm_button_bg_hover_b: lighten($wm_button_bg_b, 20%);
$wm_button_bg_hover_c: lighten($wm_button_bg_c, 20%);
$wm_button_bg_hover_d: lighten($wm_button_bg_d, 20%);

$wm_button_bg_active_a: darken($theme_bg_color, 50%);
$wm_button_bg_active_b: darken($theme_bg_color, 30%);
$wm_button_bg_active_c: darken($theme_bg_color, 30%); 
