
body { 
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  max-width: 50em; 
  margin: 3em auto;
  padding: 0 2em;
}

h1 {
  font-weight: 300;
  font-size: 130%;
}

#headerbar {
  display: block;
  height: 54px;
  background-image: linear-gradient(to bottom, #fff 2%,
                                               #f7f7f7 2%,
                                               #ededed 98%,
                                               #d9d9d9 100%);
  border-width: 1px 0;
  border-style: solid;
  border-color: #a1a1a1;
}

  #headerbar button {
    display: inline-block;
    width: 40px; height: 40px;
    margin: 6px 3px;
  }

#trigger {
  /* box-sizing: content-box; */
  display: block;
  margin: 0 auto;
  outline: none;
  margin-top: 1em;
  border-width: 1px;
  border-radius: 5px;
  border-image: linear-gradient(to bottom, #1e5894, #033266);
	padding: 10px;
	font-weight: bold;
	background-image: linear-gradient(to bottom, #3e78b4, #235296);
	color: white;
	width: 100%;
}
  #trigger:active {
    outline: none;
    background-image: linear-gradient(to top, #2e68a4, #134286);
  }
