---
title: Weather Responsive Demo
description: Prototype some responsive layouts
---
%header
  .header-content
    .header-content-inner.row
      #wicon.col-sm-2
      .col-sm-4
        %h1.place London
        .temp 18°C
        .feelslike 16°C
    
%section.hourlyforecast
  .hours
    .hour
      .time 1:00
      .hourlyicon.moon
      .temp 4°
      .wind 15mps
      .precipitation 40%
