---
title: GNOME Web Template
description: Lorem ipsum dolor sit amet
---
%header
  .header-content
    .header-content-inner
      %h1 Amazing punchline
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse lectus. Mauris sed nulla quis nisi interdum tempor. 
        Proin diam augue, semper vitae, varius et, viverra id, felis. 
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#getstarted"} Get Started
    
%section
  .container
    .row
      .col-sm-3.col-sm-offset-1
        %h2 Social Media
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse lectus.  
      .col-sm-7
        %h2 News
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse lectus. Mauris sed nulla quis nisi interdum tempor. 
          Proin diam augue, semper vitae, varius et, viverra id, felis. 
