---
title: Weather Responsive Demo
description: Prototype some responsive layouts
---
%header
  .header-content
    .header-content-inner.row
      #wicon.col-sm-2
      .col-sm-4
        %h1.place London
        .temp 18°C
        .feelslike 16°C
    
%section.hourlyforecast
  .hours
    .hour.weather-clear-night
      .time 1:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 2:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 3:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 4:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 5:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 6:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 7:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 8:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 9:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 10:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 11:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 12:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 13:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 14:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night.now
      .time 15:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 16:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 17:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 18:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 10:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 10:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 10:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 10:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 10:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 10:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
    .hour.weather-clear-night
      .time 10:00
      .hourlyicon
      .temp 4°
      .wind 15mps
      .precipitation 40%
