!!!5
%html
  %head
    %title Shotwell
    %link{"rel" => "stylesheet", "href" => "stylesheets/screen.css", "type" => "text/css"}
    %script{"type" => "text/javascript", "src" => "js/jquery.js"}
    %script{"type" => "text/javascript", "src" => "js/software.js"}
  %body
    .page
      #header
        %img.icon{"src"=>"images/shotwell.png", "alt"=>""}
        .name
          %h2 Shotwell
          %label Open source photo management for GNOME
        .rating
          %img{"src"=>"images/rating.png", "alt"=>""}
      #screenshots
        #gallery
          %img{"id"=>"screenshot1", "src"=>"images/screenshot1.png", "alt"=>""}
          %img{"id"=>"screenshot2", "src"=>"images/screenshot2.png", "alt"=>""}         
        #thumbnails
          %a{"data-img" => "screenshot1"}
            %img{"src"=>"images/screenshot1-thumb.png", "alt"=>""}
          %a{"data-img" => "screenshot2"}
            %img{"src"=>"images/screenshot2-thumb.png", "alt"=>""}    
      #meta
        %h3 Description
        %p Shotwell is a digital photo organizer that runs on Linux. It is the default photo manager in Ubuntu and Fedora.
        %p Shotwell 0.12 is here! Major new features include:    
        %ul
          %li Straighten photo feature
          %li Support for GTK+3
          %li Flickr login now uses OAuth authentication 
          %li Greater support for Android devices
          %li Saved searches can exclude all photos tagged with a given string
          %li Lots of bug fixes!
          
        %p You can download Shotwell in either source or binary form from our download page.
        %h3 Details
        %dl
          %dt Version
          %dd 0.12.3
          %dt Updated
          %dd May 12, 2012
          %dt Category
          %dd Photo &amp; Video
        %dl
          %dt License
          %dd GPL
          %dt Size
          %dd 30&nbsp;MB
          %dt Developer
          %dd Yorba
      #buttons
        %h3 Support
        %button Website
        %button Documentation
        %button Report a Problem


